Repository ManageIQ/ui-components, pull requests merged in 2019-09, with the labels that each got.

#413 Update node-sass to a version that support node 12
  package.json
Labels: dependencies

#412 Correct dropdown choices for tag control in Dialog User
  src/dialog-user/components/dialog-user/dialogField.ts
Labels: blocker, bug, dialog user, hammer/yes

#414 dialog-user: Move tagging fix from #412 to setDefaultValue
  src/dialog-user/components/dialog-user/dialogField.ts
  src/dialog-user/services/dialogData.ts
Labels: bug, dialog user, hammer/yes, ivanchuk/yes

#418 fix uib-dropdown according to documentation
  src/toolbar/components/toolbar-menu/toolbar-list.html
Labels: bug, gtl
