Repository ManageIQ/ui-components, pull requests merged in 2019-07, with the labels that each got.

#399 Dialog User - stable validation, consistent refresh and initial load
  src/dialog-user/components/dialog-user/dialogField.html
  src/dialog-user/components/dialog-user/dialogField.spec.ts
  src/dialog-user/components/dialog-user/dialogField.ts
  src/dialog-user/components/dialog-user/dialogUser.spec.ts
  src/dialog-user/components/dialog-user/dialogUser.ts
  src/dialog-user/interfaces/abstractDialogFieldClass.ts
  src/dialog-user/services/dialogData.spec.ts
  src/dialog-user/services/dialogData.ts
Labels: blocker, bug, dialog user, hammer/yes

#400 Allow the selection of a node in DialogEditor + TreeSelector
  src/dialog-editor/components/modal-field/modalFieldComponent.ts
  src/dialog-editor/components/tree-selector/tree-selector.html
Labels: bug, hammer/no

#402 DialogUser - convert single-select default_value to the right data_type
  src/dialog-user/components/dialog-user/dialogField.spec.ts
  src/dialog-user/services/dialogData.spec.ts
  src/dialog-user/services/dialogData.ts
Labels: bug, dialog user

#401 Dialog user - fix validation for date & date&time when field is required; clearing the fields
  src/dialog-user/components/dialog-user/dialogField.html
  src/dialog-user/components/dialog-user/dialogField.ts
  src/dialog-user/services/dialogData.spec.ts
  src/dialog-user/services/dialogData.ts
Labels: bug, changelog/yes, dialog user, hammer/yes

#404 Add a section with creating a new tab
  src/dialog-editor/components/tab-list/tabListComponent.ts
Labels: dialog editor, enhancement
