Repository ManageIQ/ui-components, pull requests merged in 2019-08, with the labels that each got.

#409 tile view styling update
  src/gtl/components/tile-view/tile-view.html
  src/styles/ui-components.scss
Labels: hammer/no, ivanchuk/no, technical debt

#408 Replaces 'group' with 'section' for consistency
  src/dialog-editor/services/dialogValidationService.spec.ts
  src/dialog-editor/services/dialogValidationService.ts
Labels: dialog editor, internationalization

#407 Dialog editor - validate tag category
  src/dialog-editor/services/dialogValidationService.ts
Labels: bug, dialog editor, hammer/yes, ivanchuk/yes

#405 Dialog User - use m/d/y for showing dates, instead of iso
  src/dialog-user/components/dialog-user/dialogField.html
Labels: bug, dialog user, ivanchuk/yes
