Repository ManageIQ/ui-components, pull requests merged in 2019-06, with the labels that each got.

#387 Use sessionStorage to avoid loss of unsaved dialog
  src/dialog-editor/components/modal/modalComponent.ts
  src/dialog-editor/components/tab-list/tabListComponent.ts
  src/dialog-editor/services/dialogEditorService.spec.ts
  src/dialog-editor/services/dialogEditorService.ts
Labels: dialog editor, enhancement, hammer/yes

#391 Move eslint to devDependencies
  package.json
Labels: dependencies, hammer/yes

#394 DialogUser dropdowns - support integer keys
  src/dialog-user/components/dialog-user/dialogField.html
  src/miq-select/index.ts
  src/miq-select/miqOptions.js
Labels: bug, dialog user, hammer/yes, miq select

#395 Store collapsed nodes in tree state and reflect it upon rendering
  src/tree-view/treeViewComponent.ts
Labels: bug, hammer/yes

#397 Dialog user - only run regex validation when validator_type is set to regex
  src/dialog-user/services/dialogData.spec.ts
  src/dialog-user/services/dialogData.ts
Labels: bug, dialog user, hammer/yes
