Repository ManageIQ/ui-components, pull requests merged in 2020-08, with the labels that each got.

#447 Correctly set 'null' default value for TagControl & Dropdown
  src/dialog-user/services/dialogData.ts
Labels: bug, dialog user, ivanchuk/yes, jansa/yes?

#448 [JANSA] tslint: remove line lenght limit
  tslint.json
Labels: ivanchuk/yes

#445 Honor sorting parameters in dialog editor
  src/dialog-editor/components/field/field.html
  src/dialog-editor/components/field/fieldComponent.ts
Labels: dialog editor, enhancement
